# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/

# Android / Gradle
.gradle/
**/local.properties
**/captures/
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml
